@import "../variables";

#file-zone {
    background-color: $gray-color-dark;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;

    #file {
        width: 600px;
        height: 100%;
        background-color: $gray-color-light;
        border: 1px solid $pink-color-dark;
        outline: none;
        padding: 30px;
        box-sizing: border-box;
    }
}
