@import "../../styles/variables";

.format-action {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  outline: none;

  &:last-of-type {
    margin-right: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    background-color: $pink-color-light;
  }

  &.applied {
    background-color: $gray-color-dark;
  }
}
