@import "../styles/variables";

#control-panel {
    background-color: $pink-color-dark;
    display: flex;
    justify-content: space-between;
    padding: 3px calc((100% - 600px) / 2);

    .control-group {
        display: flex;
        justify-content: space-between;

        #format-actions {
            display: flex;
        }
    }
}
