@import "../variables";

#control-panel {
    background-color: $background-color-dark;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px;

    #format-actions {
        display: flex;
    }
}
