@import "variables";

.App {
  display: flex;
  height: 100%;
  flex-direction: column;

  header,
  footer {
    display: block;
    padding: 10px;
    font-size: 24px;
    background-color: $gray-color-light;
    color: $gray-color-dark;
  }

  header {
    border-bottom: $block-divider;
    text-transform: uppercase;
  }

  footer {
    border-top: $block-divider;
    text-align: right;
    font-size: 14px;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
